-e git+https://github.com/kezabelle/django-varlet.git#egg=django-varlet
-e git+https://github.com/kezabelle/django-editregions.git#egg=django-editregions
-e git+https://github.com/kezabelle/django-churlish.git#egg=django-churlish
-e git+https://github.com/kezabelle/django-moreloaders.git#egg=django-moreloaders
-e git+https://github.com/kezabelle/django-adminlinks.git#egg=django-adminlinks
-e git+https://github.com/kezabelle/django-patternatlas.git#egg=django-patternatlas
-e git+https://github.com/kezabelle/django-menuhin.git#egg=django-menuhin
